/*
    タイトル：グレートターニング様向けKIN計算ページ 
    内容： 
      １．今日の日付からその日のKINを算出し、メッセージを表示する。
      ２．指定した年月のKINを算出し、メッセージを表示する。
    初版：2021-03-29(KIN105　赤い蛇-赤い蛇　第３の城)
    rev.1：2021-04-06(メッセージ内容の変更　今日のK I Nは？変更点 20210404.docx)
    発行元：スーパー事務局
    グレートターニングホームページ 
*/
/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下のときのメディアクエリを設定してください */
@media (max-width :1000px) {
  /* 「.container op-wrapper h1」のfont-sizeを32pxに指定 */
  .section-title h3 {
    font-size:32px;
  }
  
  /* 「.heading h2」のfont-sizeを20pxに指定 */
  .heading h2{
    font-size:20px;
  }
  .heading h3{
    font-size:12px;
  }
  /*テーブル内の文字を少し小さくする*/
  .table1-section{
    font-size:13px;
  }

  .caution0{
    font-size:10px;
  } 
  
}

/* ブレイクポイントが670px以下の時のメディアクエリを設定してください */
@media (max-width:670px ) {
  /* .イメージエリア：lessonのwidthを100%に指定してください */
  .lesson {
    width: 100%;
   }
   .lessonOto {
    width: 100%;
   }
  
  /* <footer>の中身を中央寄せにしてください。 */
  footer {
    text-align:center;
  }
  /* .btnのwidthを100%に指定してください */
  .btn {
    width :100%;
  }


/* あなたのKINの紋章イメージを横幅いっぱいとする*/
.yourKINImageClass {
  width:100%;
}
.yourKINImageClass img{
  width:30%;
}
/*↓rev.1 2020-04-06 ADD start*/
.yourKIN-class {
  font-size: 1px;
}
/*↑rev.1 2020-04-06 ADD End*/

/*メッセージエリアのテーブ.yourKIN-class {
  font-size: 8px;
}ル内の説明文字サイズを小さくする*/
.table1-section{
  font-size:12px;
}
.guide-wrapper {
  text-align: left;
}
.guide a{
    display:inline-block;/*改行しない*/
   
}
  /*フッター*/
 footer.heading h2{
  font-size:15px;
  
}
footer.heading h3{
  font-size:10px;
 
}


}
